<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExploreRL.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B90233BA2F3106DD00378E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B954BC992ECA6A9B0081CE3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B954BCD52ECA7A260081CE3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B954BCE42ECA7A380081CE3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
